In [6]:
import json 
import pandas as pd

In [17]:
students=pd.DataFrame(json.load(open('students.json',encoding='utf8')) )
students.head()

,sid,targets,target_super_groups
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '..."
1,a4839004275f9f0583a20f03a8b759c3,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '..."
2,bd73581ef03a1f15f24a7d2c7b573792,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '..."
3,7a3595d03ba05f3778ade4e0881be40f,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '..."
4,ee2dce155a659d3b6594479d228e98b8,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '..."

In [20]:
course_enrollments=pd.DataFrame(json.load(open('course_enrollments.json',encoding='utf8')))
course_enrollments.head()

,studentIds,enrolled_courses
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,[c64ca44849ae86093254a01b5748466f]
1,a4839004275f9f0583a20f03a8b759c3,[c64ca44849ae86093254a01b5748466f]
2,bd73581ef03a1f15f24a7d2c7b573792,[c64ca44849ae86093254a01b5748466f]
3,7a3595d03ba05f3778ade4e0881be40f,[c64ca44849ae86093254a01b5748466f]
4,ee2dce155a659d3b6594479d228e98b8,"[e2e15f7b9ea0df0fbab2d5c6929a894e, c64ca44849a..."

In [12]:
class_details=pd.DataFrame(json.load(open('class_details.json',encoding='utf8')))
class_details.head()

,test_id,target,target_super_group
0,b4ca204631b17b6b486c361872fd2af2,"[{'_id': 'ce93e65e281ffed2347769d363c25b70', '...",None
1,b25b5a4ec5c9ed9cbf8c1b2dbce2e5ec,None,None
2,4f6de001762ca3cb6546de31962ad917,None,None
3,a5509829b0acbc147323aaf75e8ea73e,"[{'_id': '774732a9be9cd1f7681f7eb699d3bdf8', '...",None
4,7bcbc0211f63141908bd2f0bb44d1bdd,"[{'_id': '6ac844c11e30c46f4b9583c85653d610', '...",None

In [10]:
test_submissions=pd.DataFrame(json.load(open('test_submissions.json',encoding='utf8')))
test_submissions.head()

,class_id,target,target_super_group
0,9a5896f9ff163fe54390aa23e9a05c46,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
1,80714763e74d90914b3251a00a9a1b85,"[{'_id': '21cde520a11aea91d3b0c222ee9f52a4', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
2,b6abd291efa202c568f7e24dec8c26dc,"[{'_id': '8dce41b95f3777d43d7ac6259bf1c39a', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
3,ff9317caee0d6c22fc730a881f0fe1b2,"[{'_id': 'ce93e65e281ffed2347769d363c25b70', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '..."
4,6eec3063cb4057d3e3e4596295162cb5,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...",None

In [ ]:
test_details=pd.DataFrame(json.load(open('tests_details.json',encoding='utf8')))
test_details.head()

In [28]:
##merge student details with the courses enrolled
mergecourse =pd.merge(students,course_enrollments,left_on="sid",right_on="studentIds")
mergecourse.head(100)

,sid,targets,target_super_groups,studentIds,enrolled_courses
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",6e6dabfe6d4eaa2d15b4672e0d0fad5a,[c64ca44849ae86093254a01b5748466f]
1,a4839004275f9f0583a20f03a8b759c3,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",a4839004275f9f0583a20f03a8b759c3,[c64ca44849ae86093254a01b5748466f]
2,bd73581ef03a1f15f24a7d2c7b573792,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",bd73581ef03a1f15f24a7d2c7b573792,[c64ca44849ae86093254a01b5748466f]
3,7a3595d03ba05f3778ade4e0881be40f,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",7a3595d03ba05f3778ade4e0881be40f,[c64ca44849ae86093254a01b5748466f]
4,ee2dce155a659d3b6594479d228e98b8,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",ee2dce155a659d3b6594479d228e98b8,"[e2e15f7b9ea0df0fbab2d5c6929a894e, c64ca44849a..."
...,...,...,...,...,...
95,17380e0da8cfdb227cfcc1323dd82cf4,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",17380e0da8cfdb227cfcc1323dd82cf4,None
96,83213974a7df5132b2fbebe736ef6b3b,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",83213974a7df5132b2fbebe736ef6b3b,None
97,d4799c75ccf70cbda2d17921d7bdd33f,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",d4799c75ccf70cbda2d17921d7bdd33f,None
98,4cb984460ca3da52087c6999ae67da6f,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",4cb984460ca3da52087c6999ae67da6f,None
99,aee7b4c0bf6479072ee17e16bf0be2c2,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",aee7b4c0bf6479072ee17e16bf0be2c2,None

In [ ]:
##now merge students ,test submission and test details
test_details=pd.merge(students,test_details,left_on="targets",right_on="")

In [69]:
import json
import pandas as pd  
data = json.load(open('students.json',encoding='utf8') )  
students=pd.DataFrame(json.load(open('students.json',encoding='utf8')) )

#students=pd.json_normalize(students, 'targets', ['sids'])
students.head()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [79]:
import json
import pandas as pd


test_submissions=pd.DataFrame(json.load(open('test_submissions.json',encoding='utf8')))


students=pd.DataFrame(json.load(open('students.json',encoding='utf8')))


testresults =pd.merge(students,test_submissions,left_on="sids",right_on="sids")
testresults.head(100)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)