In [4]:
import json
import pandas as pd
f = open('course_enrollments.json',encoding='utf8') 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
f.close()
course_enrollments=pd.DataFrame(data)
course_enrollments.head()

,studentIds,enrolled_courses
0,6e6dabfe6d4eaa2d15b4672e0d0fad5a,[c64ca44849ae86093254a01b5748466f]
1,a4839004275f9f0583a20f03a8b759c3,[c64ca44849ae86093254a01b5748466f]
2,bd73581ef03a1f15f24a7d2c7b573792,[c64ca44849ae86093254a01b5748466f]
3,7a3595d03ba05f3778ade4e0881be40f,[c64ca44849ae86093254a01b5748466f]
4,ee2dce155a659d3b6594479d228e98b8,"[e2e15f7b9ea0df0fbab2d5c6929a894e, c64ca44849a..."

In [5]:
#course enrollment destructre

course_enrollments=course_enrollments.enrolled_courses.apply(pd.Series).merge(course_enrollments,left_index=True,right_index=True).drop(['enrolled_courses'],axis=1).melt(id_vars=['studentIds'],value_name='enrolled_courses').drop('variable',axis=1).dropna()
course_enrollments.head()

                         studentIds                  enrolled_courses
0  6e6dabfe6d4eaa2d15b4672e0d0fad5a  c64ca44849ae86093254a01b5748466f
1  a4839004275f9f0583a20f03a8b759c3  c64ca44849ae86093254a01b5748466f
2  bd73581ef03a1f15f24a7d2c7b573792  c64ca44849ae86093254a01b5748466f
3  7a3595d03ba05f3778ade4e0881be40f  c64ca44849ae86093254a01b5748466f
4  ee2dce155a659d3b6594479d228e98b8  e2e15f7b9ea0df0fbab2d5c6929a894e

In [6]:
f = open('class_details.json',encoding='utf8') 
  
# returns JSON object as  
# a dictionary 
data = json.load(f) 
f.close()
class_details=pd.DataFrame(data)
class_details.head()

,class_id,target,target_super_group
0,9a5896f9ff163fe54390aa23e9a05c46,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
1,80714763e74d90914b3251a00a9a1b85,"[{'_id': '21cde520a11aea91d3b0c222ee9f52a4', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
2,b6abd291efa202c568f7e24dec8c26dc,"[{'_id': '8dce41b95f3777d43d7ac6259bf1c39a', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '..."
3,ff9317caee0d6c22fc730a881f0fe1b2,"[{'_id': 'ce93e65e281ffed2347769d363c25b70', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '..."
4,6eec3063cb4057d3e3e4596295162cb5,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...",None

In [76]:
classenrolledmax=pd.merge(course_enrollments,class_details,left_on="enrolled_courses",right_on="class_id",how="left")

classenrolledmax=classenrolledmax[['target','target_super_group','studentIds','class_id']]
classenrolledmax.head()

,target,target_super_group,studentIds,class_id
0,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",6e6dabfe6d4eaa2d15b4672e0d0fad5a,c64ca44849ae86093254a01b5748466f
1,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",a4839004275f9f0583a20f03a8b759c3,c64ca44849ae86093254a01b5748466f
2,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",bd73581ef03a1f15f24a7d2c7b573792,c64ca44849ae86093254a01b5748466f
3,"[{'_id': '7a5d8c4c00f5f6340f28ba4b49e519ba', '...","[{'_id': 'c1d47cdfe41a7ea2c337dd54c5114168', '...",7a3595d03ba05f3778ade4e0881be40f,c64ca44849ae86093254a01b5748466f
4,"[{'_id': '8dce41b95f3777d43d7ac6259bf1c39a', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",ee2dce155a659d3b6594479d228e98b8,e2e15f7b9ea0df0fbab2d5c6929a894e

In [46]:
# classenrolledmax=pd.json_normalize(classenrolledmax.target)

In [77]:
#count joined course
joined_course =classenrolledmax.dropna(axis=0,subset=['class_id'])

joinedcourseslist=(joined_course.
                  groupby(by=['class_id'])['target'].
                  count().
                  reset_index().
                  rename(columns={'target':'total_targets'})
                  [['class_id','total_targets']])

joinedcourseslist.head()

                           class_id  total_targets
0  00ab07631696c897dfa6f037e1986ec5              1
1  03afc06d8f78b0f3f3a83bfdc6521f84              2
2  0db2e72c48b89cdaa961666fcc20d5d8             19
3  109052ee3f95106624c4c3ac5f144b05              7
4  1597ef0af258665c339f498dd3760a79              5

In [86]:
totalratingdata=joinedcourseslist.merge(classenrolledmax,left_on='class_id',right_on='class_id',how='left')

totalratingdata.head()

,class_id,total_targets,target,target_super_group,studentIds
0,00ab07631696c897dfa6f037e1986ec5,1,"[{'_id': 'a4b3f38ba5a80bc0ccb9d7e2be728229', '...","[{'_id': '4db3fc331f6c3cc1afcd4cb6938db9d0', '...",cafa4b809d68de6b94226e4117879f98
1,03afc06d8f78b0f3f3a83bfdc6521f84,2,"[{'_id': 'd2fbe7905f7f98b8bad4049d937dc090', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",a0eb10c72b63e1fe7845bdfb2942a1d2
2,03afc06d8f78b0f3f3a83bfdc6521f84,2,"[{'_id': 'd2fbe7905f7f98b8bad4049d937dc090', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",a6d6e55e1175b8d1fc4bd5fca16e3fda
3,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",64102195627a657aeee8d3c48a33e43e
4,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",9b8310aee6af9568a13c1cdd17e4a20f

In [87]:
totalratingdata.describe()

       total_targets
count     365.000000
mean       10.539726
std         9.000103
min         1.000000
25%         3.000000
50%         8.000000
75%        14.000000
max        29.000000

In [88]:
threshold= 2
suggestion=totalratingdata.query('total_targets>=@threshold')
suggestion.head()

,class_id,total_targets,target,target_super_group,studentIds
1,03afc06d8f78b0f3f3a83bfdc6521f84,2,"[{'_id': 'd2fbe7905f7f98b8bad4049d937dc090', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",a0eb10c72b63e1fe7845bdfb2942a1d2
2,03afc06d8f78b0f3f3a83bfdc6521f84,2,"[{'_id': 'd2fbe7905f7f98b8bad4049d937dc090', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",a6d6e55e1175b8d1fc4bd5fca16e3fda
3,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",64102195627a657aeee8d3c48a33e43e
4,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",9b8310aee6af9568a13c1cdd17e4a20f
5,0db2e72c48b89cdaa961666fcc20d5d8,19,"[{'_id': 'b81a8991dd18c0b47f6bc16c47dfa0ae', '...","[{'_id': 'e992109a17e84f458f34c1b888c23205', '...",16ec3b0729e0b32fa218d12d44879e34

In [95]:
suggestion.shape

(328, 5)

In [135]:
matrix=suggestion.pivot_table(index='class_id',columns='studentIds',values='total_targets').fillna(0)
matrix.head()

(53, 193)

In [151]:
from scipy.sparse import  csr_matrix

from sklearn.neighbors import NearestNeighbors

model=NearestNeighbors(metric='cosine',algorithm='brute')

model.fit(csr_matrix(matrix.values))

NearestNeighbors(algorithm='brute', metric='cosine')

In [149]:
matrix.shape

(53, 193)

In [164]:
query=np.random.choice(matrix.shape[0])
print(query)
distances,indices=model.kneighbors(matrix.iloc[query,:].values.reshape(1,-1),n_neighbors=5)

24

In [171]:
for i in range(0,len(distances.flatten())):
    if i==0 :
        print('Recommnedation for {0}:\n',format(matrix.index[query]))
    else:
        print('{0}: Class ID {1},with the distance of {2}:'.format(i,matrix.index[indices.flatten()[i]],distances.flatten()[i]))

TypeError: 'numpy.ndarray' object is not callable